In [2]:
import pandas as pd
import seaborn as sn

In [3]:
df=pd.read_csv("sales.csv")
df.info()
print(df.isna())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     21 non-null     int64
 1   customer_id  21 non-null     object
 2   product      21 non-null     object
 3   price        18 non-null     object
 4   quantity     18 non-null     object
 5   order_date   20 non-null     object
 6   region       20 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.3+ KB
    order_id  customer_id  product  price  quantity  order_date  region
0      False        False    False  False     False       False   False
1      False        False    False   True     False       False   False
2      False        False    False  False      True       False   False
3      False        False    False  False      True       False   False
4      False        False    False  False     False       False   False
5      False        False    False  False     False       False   False
6      False        False    False  False     False       False   False
7      False        False    False  False     False        True   False
8      False        False    False  False     False       False   False
9      False        False    False  False     False       False   False
10     False        False    False  False     False       False   False
11     False        False    False  False     False       False    True
12     False        False    False   True     False       False   False
13     False        False    False  False     False       False   False
14     False        False    False  False     False       False   False
15     False        False    False  False     False       False   False
16     False        False    False  False     False       False   False
17     False        False    False  False     False       False   False
18     False        False    False  False     False       False   False
19     False        False    False   True     False       False   False
20     False        False    False  False      True       False   False

    order_id customer_id      product  price quantity  order_date region
0          1        C001       Laptop    800        1    1/5/2023  North
1          2        C002        Phone    NaN        2    1/6/2023   East
2          3        C003       Tablet    250      NaN    1/7/2023  South
3          3        C003       Tablet    250      NaN    1/7/2023  South
4          4        C004      Lap-top    850        1    7/1/2023   west
5          5        C005   HeadPhones  100.5        3  2023.01.08  SOUTH
6          6        C006      Monitor    abc        2    1/9/2023   East
7          7        C007        Phone    600        2         NaN  north
8          8        C008       Laptop    750        1  2023-13-01   West
9          9        C009       Tablet    300        0   1/11/2023   East
10        10        C010  Head phones     95        1   1/12/2023   East
11        11        C011        Phone    550        2   1/12/2023    NaN
12        12        C012       Laptop    NaN        2   1/13/2023   West
13        13        C013      Monitor    400        1   1/14/2023   East
14        14        C014       Laptop    800        1  14-01-2023  SOUTH
15        15        C015       Tablet    280        2   1/15/2023  North
16        16        C016        Phone    620      one   1/16/2023   East
17        17        C017       Tablet    290        2   1/17/2023   West
18        18        C018       Laptop    810        2   1/18/2023   East
19        19        C019   HeadPhones    NaN        3   1/19/2023  South
20        20        C020      Monitor    450      NaN   1/20/2023   West

In [4]:
print(df.duplicated().sum())
print("null values:")
print(df.isna().sum())

1
null values:
order_id       0
customer_id    0
product        0
price          3
quantity       3
order_date     1
region         1
dtype: int64

In [5]:
print(df.head())

   order_id customer_id  product price quantity order_date region
0         1        C001   Laptop   800        1   1/5/2023  North
1         2        C002    Phone   NaN        2   1/6/2023   East
2         3        C003   Tablet   250      NaN   1/7/2023  South
3         3        C003   Tablet   250      NaN   1/7/2023  South
4         4        C004  Lap-top   850        1   7/1/2023   west

In [6]:
df = df.drop_duplicates(subset=["order_id"])
df

    order_id customer_id      product  price quantity  order_date region
0          1        C001       Laptop    800        1    1/5/2023  North
1          2        C002        Phone    NaN        2    1/6/2023   East
2          3        C003       Tablet    250      NaN    1/7/2023  South
4          4        C004      Lap-top    850        1    7/1/2023   west
5          5        C005   HeadPhones  100.5        3  2023.01.08  SOUTH
6          6        C006      Monitor    abc        2    1/9/2023   East
7          7        C007        Phone    600        2         NaN  north
8          8        C008       Laptop    750        1  2023-13-01   West
9          9        C009       Tablet    300        0   1/11/2023   East
10        10        C010  Head phones     95        1   1/12/2023   East
11        11        C011        Phone    550        2   1/12/2023    NaN
12        12        C012       Laptop    NaN        2   1/13/2023   West
13        13        C013      Monitor    400        1   1/14/2023   East
14        14        C014       Laptop    800        1  14-01-2023  SOUTH
15        15        C015       Tablet    280        2   1/15/2023  North
16        16        C016        Phone    620      one   1/16/2023   East
17        17        C017       Tablet    290        2   1/17/2023   West
18        18        C018       Laptop    810        2   1/18/2023   East
19        19        C019   HeadPhones    NaN        3   1/19/2023  South
20        20        C020      Monitor    450      NaN   1/20/2023   West

In [7]:
print(df.duplicated().sum())

0

In [8]:
df1=df.drop_duplicates()
df1["quantity"] = df1["quantity"].str.replace("one", "1")
df1["product"] = df1["product"].str.replace("ph1", "phone")
df1["product"] = df1["product"].str.replace("Ph1", "phone")
df1["region"] = df1["region"].str.capitalize()
df1

    order_id customer_id      product  price quantity  order_date region
0          1        C001       Laptop    800        1    1/5/2023  North
1          2        C002        Phone    NaN        2    1/6/2023   East
2          3        C003       Tablet    250      NaN    1/7/2023  South
4          4        C004      Lap-top    850        1    7/1/2023   West
5          5        C005   HeadPhones  100.5        3  2023.01.08  South
6          6        C006      Monitor    abc        2    1/9/2023   East
7          7        C007        Phone    600        2         NaN  North
8          8        C008       Laptop    750        1  2023-13-01   West
9          9        C009       Tablet    300        0   1/11/2023   East
10        10        C010  Head phones     95        1   1/12/2023   East
11        11        C011        Phone    550        2   1/12/2023    NaN
12        12        C012       Laptop    NaN        2   1/13/2023   West
13        13        C013      Monitor    400        1   1/14/2023   East
14        14        C014       Laptop    800        1  14-01-2023  South
15        15        C015       Tablet    280        2   1/15/2023  North
16        16        C016        Phone    620        1   1/16/2023   East
17        17        C017       Tablet    290        2   1/17/2023   West
18        18        C018       Laptop    810        2   1/18/2023   East
19        19        C019   HeadPhones    NaN        3   1/19/2023  South
20        20        C020      Monitor    450      NaN   1/20/2023   West

In [9]:
df1=df1.dropna()
df1["order_date"] = df1["order_date"].str.replace("-", "/")
df1["order_date"] = df1["order_date"].str.replace(".", "/")
df1

C:\Users\Priyanshu\AppData\Local\Temp\ipykernel_16256\1759834924.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["order_date"] = df1["order_date"].str.replace("-", "/")
C:\Users\Priyanshu\AppData\Local\Temp\ipykernel_16256\1759834924.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["order_date"] = df1["order_date"].str.replace(".", "/")

    order_id customer_id      product  price quantity  order_date region
0          1        C001       Laptop    800        1    1/5/2023  North
4          4        C004      Lap-top    850        1    7/1/2023   West
5          5        C005   HeadPhones  100.5        3  2023/01/08  South
6          6        C006      Monitor    abc        2    1/9/2023   East
8          8        C008       Laptop    750        1  2023/13/01   West
9          9        C009       Tablet    300        0   1/11/2023   East
10        10        C010  Head phones     95        1   1/12/2023   East
13        13        C013      Monitor    400        1   1/14/2023   East
14        14        C014       Laptop    800        1  14/01/2023  South
15        15        C015       Tablet    280        2   1/15/2023  North
16        16        C016        Phone    620        1   1/16/2023   East
17        17        C017       Tablet    290        2   1/17/2023   West
18        18        C018       Laptop    810        2   1/18/2023   East

In [ ]:

df1["order_date"] = pd.to_datetime(df1["order_date"], errors="coerce", dayfirst=True)
df1d

C:\Users\Priyanshu\AppData\Local\Temp\ipykernel_16256\530805060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["order_date"] = pd.to_datetime(df1["order_date"], errors="coerce", dayfirst=True)

    order_id customer_id      product  price quantity order_date region
0          1        C001       Laptop    800        1 2023-05-01  North
4          4        C004      Lap-top    850        1 2023-01-07   West
5          5        C005   HeadPhones  100.5        3        NaT  South
6          6        C006      Monitor    abc        2 2023-09-01   East
8          8        C008       Laptop    750        1        NaT   West
9          9        C009       Tablet    300        0 2023-11-01   East
10        10        C010  Head phones     95        1 2023-12-01   East
13        13        C013      Monitor    400        1        NaT   East
14        14        C014       Laptop    800        1 2023-01-14  South
15        15        C015       Tablet    280        2        NaT  North
16        16        C016        Phone    620        1        NaT   East
17        17        C017       Tablet    290        2        NaT   West
18        18        C018       Laptop    810        2        NaT   East

In [11]:

df1["price"]=pd.to_numeric(df1["price"],errors="coerce")
df1

C:\Users\Priyanshu\AppData\Local\Temp\ipykernel_16256\593067140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["price"]=pd.to_numeric(df1["price"],errors="coerce")

    order_id customer_id      product  price quantity order_date region
0          1        C001       Laptop  800.0        1 2023-05-01  North
4          4        C004      Lap-top  850.0        1 2023-01-07   West
5          5        C005   HeadPhones  100.5        3        NaT  South
6          6        C006      Monitor    NaN        2 2023-09-01   East
8          8        C008       Laptop  750.0        1        NaT   West
9          9        C009       Tablet  300.0        0 2023-11-01   East
10        10        C010  Head phones   95.0        1 2023-12-01   East
13        13        C013      Monitor  400.0        1        NaT   East
14        14        C014       Laptop  800.0        1 2023-01-14  South
15        15        C015       Tablet  280.0        2        NaT  North
16        16        C016        Phone  620.0        1        NaT   East
17        17        C017       Tablet  290.0        2        NaT   West
18        18        C018       Laptop  810.0        2        NaT   East

In [12]:
print(df1["price"].sum())

6095.5

In [13]:
df1["product"] = df1["product"].str.replace("-", "").str.strip().str.capitalize()
df1

C:\Users\Priyanshu\AppData\Local\Temp\ipykernel_16256\517349853.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["product"] = df1["product"].str.replace("-", "").str.strip().str.capitalize()

    order_id customer_id      product  price quantity order_date region
0          1        C001       Laptop  800.0        1 2023-05-01  North
4          4        C004       Laptop  850.0        1 2023-01-07   West
5          5        C005   Headphones  100.5        3        NaT  South
6          6        C006      Monitor    NaN        2 2023-09-01   East
8          8        C008       Laptop  750.0        1        NaT   West
9          9        C009       Tablet  300.0        0 2023-11-01   East
10        10        C010  Head phones   95.0        1 2023-12-01   East
13        13        C013      Monitor  400.0        1        NaT   East
14        14        C014       Laptop  800.0        1 2023-01-14  South
15        15        C015       Tablet  280.0        2        NaT  North
16        16        C016        Phone  620.0        1        NaT   East
17        17        C017       Tablet  290.0        2        NaT   West
18        18        C018       Laptop  810.0        2        NaT   East

In [14]:
df1 = df1.dropna(subset=["order_date"])
df1 = df1.dropna(subset=["price"])
df1["price"] = pd.to_numeric(df1["price"], errors="coerce")
df1 = df1.dropna()
df1

    order_id customer_id      product  price quantity order_date region
0          1        C001       Laptop  800.0        1 2023-05-01  North
4          4        C004       Laptop  850.0        1 2023-01-07   West
9          9        C009       Tablet  300.0        0 2023-11-01   East
10        10        C010  Head phones   95.0        1 2023-12-01   East
14        14        C014       Laptop  800.0        1 2023-01-14  South

In [15]:
df1

    order_id customer_id      product  price quantity order_date region
0          1        C001       Laptop  800.0        1 2023-05-01  North
4          4        C004       Laptop  850.0        1 2023-01-07   West
9          9        C009       Tablet  300.0        0 2023-11-01   East
10        10        C010  Head phones   95.0        1 2023-12-01   East
14        14        C014       Laptop  800.0        1 2023-01-14  South