In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("sales.csv")
df

    order_id customer_id      product  price quantity  order_date region
0          1        C001       Laptop    800        1    1/5/2023  North
1          2        C002        Phone    NaN        2    1/6/2023   East
2          3        C003       Tablet    250      NaN    1/7/2023  South
3          3        C003       Tablet    250      NaN    1/7/2023  South
4          4        C004      Lap-top    850        1    7/1/2023   west
5          5        C005   HeadPhones  100.5        3  2023.01.08  SOUTH
6          6        C006      Monitor    abc        2    1/9/2023   East
7          7        C007        Phone    600        2         NaN  north
8          8        C008       Laptop    750        1  2023-13-01   West
9          9        C009       Tablet    300        0   1/11/2023   East
10        10        C010  Head phones     95        1   1/12/2023   East
11        11        C011        Phone    550        2   1/12/2023    NaN
12        12        C012       Laptop    NaN        2   1/13/2023   West
13        13        C013      Monitor    400        1   1/14/2023   East
14        14        C014       Laptop    800        1  14-01-2023  SOUTH
15        15        C015       Tablet    280        2   1/15/2023  North
16        16        C016        Phone    620      one   1/16/2023   East
17        17        C017       Tablet    290        2   1/17/2023   West
18        18        C018       Laptop    810        2   1/18/2023   East
19        19        C019   HeadPhones    NaN        3   1/19/2023  South
20        20        C020      Monitor    450      NaN   1/20/2023   West

In [5]:
df.columns = ( df.columns.str.strip()
              .str.lower()
              .str.replace(r'\s+', '_' , regex = True)
              .str.replace(r'\[^\w]', '_' , regex = True)
              )
df

    order_id customer_id      product  price quantity  order_date region
0          1        C001       Laptop    800        1    1/5/2023  North
1          2        C002        Phone    NaN        2    1/6/2023   East
2          3        C003       Tablet    250      NaN    1/7/2023  South
3          3        C003       Tablet    250      NaN    1/7/2023  South
4          4        C004      Lap-top    850        1    7/1/2023   west
5          5        C005   HeadPhones  100.5        3  2023.01.08  SOUTH
6          6        C006      Monitor    abc        2    1/9/2023   East
7          7        C007        Phone    600        2         NaN  north
8          8        C008       Laptop    750        1  2023-13-01   West
9          9        C009       Tablet    300        0   1/11/2023   East
10        10        C010  Head phones     95        1   1/12/2023   East
11        11        C011        Phone    550        2   1/12/2023    NaN
12        12        C012       Laptop    NaN        2   1/13/2023   West
13        13        C013      Monitor    400        1   1/14/2023   East
14        14        C014       Laptop    800        1  14-01-2023  SOUTH
15        15        C015       Tablet    280        2   1/15/2023  North
16        16        C016        Phone    620      one   1/16/2023   East
17        17        C017       Tablet    290        2   1/17/2023   West
18        18        C018       Laptop    810        2   1/18/2023   East
19        19        C019   HeadPhones    NaN        3   1/19/2023  South
20        20        C020      Monitor    450      NaN   1/20/2023   West

In [6]:
print("Initial shape", df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     21 non-null     int64
 1   customer_id  21 non-null     object
 2   product      21 non-null     object
 3   price        18 non-null     object
 4   quantity     18 non-null     object
 5   order_date   20 non-null     object
 6   region       20 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.3+ KB
Initial shape None

In [7]:
print("missing values per column", df.isna().sum())

missing values per column order_id       0
customer_id    0
product        0
price          3
quantity       3
order_date     1
region         1
dtype: int64

In [13]:
num_cols = df.select_dtypes(include=['number']).columns
df[num_cols] = df[num_cols].fillna(0)
df

    order_id customer_id      product  price quantity  order_date region
0          1        C001       Laptop    800        1    1/5/2023  North
1          2        C002        Phone    NaN        2    1/6/2023   East
2          3        C003       Tablet    250      NaN    1/7/2023  South
3          3        C003       Tablet    250      NaN    1/7/2023  South
4          4        C004      Lap-top    850        1    7/1/2023   west
5          5        C005   HeadPhones  100.5        3  2023.01.08  SOUTH
6          6        C006      Monitor    abc        2    1/9/2023   East
7          7        C007        Phone    600        2         NaN  north
8          8        C008       Laptop    750        1  2023-13-01   West
9          9        C009       Tablet    300        0   1/11/2023   East
10        10        C010  Head phones     95        1   1/12/2023   East
11        11        C011        Phone    550        2   1/12/2023    NaN
12        12        C012       Laptop    NaN        2   1/13/2023   West
13        13        C013      Monitor    400        1   1/14/2023   East
14        14        C014       Laptop    800        1  14-01-2023  SOUTH
15        15        C015       Tablet    280        2   1/15/2023  North
16        16        C016        Phone    620      one   1/16/2023   East
17        17        C017       Tablet    290        2   1/17/2023   West
18        18        C018       Laptop    810        2   1/18/2023   East
19        19        C019   HeadPhones    NaN        3   1/19/2023  South
20        20        C020      Monitor    450      NaN   1/20/2023   West

In [15]:
cat_cols = df.select_dtypes(include=['object']).columns
df[cat_cols] = df[cat_cols].fillna("unknown")
df

    order_id customer_id      product    price quantity  order_date   region
0          1        C001       Laptop      800        1    1/5/2023    North
1          2        C002        Phone  unknown        2    1/6/2023     East
2          3        C003       Tablet      250  unknown    1/7/2023    South
3          3        C003       Tablet      250  unknown    1/7/2023    South
4          4        C004      Lap-top      850        1    7/1/2023     west
5          5        C005   HeadPhones    100.5        3  2023.01.08    SOUTH
6          6        C006      Monitor      abc        2    1/9/2023     East
7          7        C007        Phone      600        2     unknown    north
8          8        C008       Laptop      750        1  2023-13-01     West
9          9        C009       Tablet      300        0   1/11/2023     East
10        10        C010  Head phones       95        1   1/12/2023     East
11        11        C011        Phone      550        2   1/12/2023  unknown
12        12        C012       Laptop  unknown        2   1/13/2023     West
13        13        C013      Monitor      400        1   1/14/2023     East
14        14        C014       Laptop      800        1  14-01-2023    SOUTH
15        15        C015       Tablet      280        2   1/15/2023    North
16        16        C016        Phone      620      one   1/16/2023     East
17        17        C017       Tablet      290        2   1/17/2023     West
18        18        C018       Laptop      810        2   1/18/2023     East
19        19        C019   HeadPhones  unknown        3   1/19/2023    South
20        20        C020      Monitor      450  unknown   1/20/2023     West

In [25]:
df['price'] = pd.to_numeric(df['price'] , errors = 'coerce').astype(int)
df['quantity'] = pd.to_numeric(df['quantity'] , errors = 'coerce')
df[['price','quantity']] = df[['price','quantity']].fillna(0)
df

    order_id customer_id      product  price  quantity  order_date   region
0          1        C001       Laptop    800         1    1/5/2023    North
1          2        C002        Phone      0         2    1/6/2023     East
2          3        C003       Tablet    250         0    1/7/2023    South
3          3        C003       Tablet    250         0    1/7/2023    South
4          4        C004      Lap-Top    850         1    7/1/2023     West
5          5        C005   Headphones    100         3  2023.01.08    South
6          6        C006      Monitor      0         2    1/9/2023     East
7          7        C007        Phone    600         2     unknown    North
8          8        C008       Laptop    750         1  2023-13-01     West
9          9        C009       Tablet    300         0   1/11/2023     East
10        10        C010  Head Phones     95         1   1/12/2023     East
11        11        C011        Phone    550         2   1/12/2023  Unknown
12        12        C012       Laptop      0         2   1/13/2023     West
13        13        C013      Monitor    400         1   1/14/2023     East
14        14        C014       Laptop    800         1  14-01-2023    South
15        15        C015       Tablet    280         2   1/15/2023    North
16        16        C016        Phone    620         0   1/16/2023     East
17        17        C017       Tablet    290         2   1/17/2023     West
18        18        C018       Laptop    810         2   1/18/2023     East
19        19        C019   Headphones      0         3   1/19/2023    South
20        20        C020      Monitor    450         0   1/20/2023     West

In [26]:
df['region'] = df['region'].str.strip().str.title()
df['product'] = df['product'].str.strip().str.title()
df['quantity'] =pd.to_numeric(df['quantity'],errors='coerce').fillna(0).astype(int) 

df

    order_id customer_id      product  price  quantity  order_date   region
0          1        C001       Laptop    800         1    1/5/2023    North
1          2        C002        Phone      0         2    1/6/2023     East
2          3        C003       Tablet    250         0    1/7/2023    South
3          3        C003       Tablet    250         0    1/7/2023    South
4          4        C004      Lap-Top    850         1    7/1/2023     West
5          5        C005   Headphones    100         3  2023.01.08    South
6          6        C006      Monitor      0         2    1/9/2023     East
7          7        C007        Phone    600         2     unknown    North
8          8        C008       Laptop    750         1  2023-13-01     West
9          9        C009       Tablet    300         0   1/11/2023     East
10        10        C010  Head Phones     95         1   1/12/2023     East
11        11        C011        Phone    550         2   1/12/2023  Unknown
12        12        C012       Laptop      0         2   1/13/2023     West
13        13        C013      Monitor    400         1   1/14/2023     East
14        14        C014       Laptop    800         1  14-01-2023    South
15        15        C015       Tablet    280         2   1/15/2023    North
16        16        C016        Phone    620         0   1/16/2023     East
17        17        C017       Tablet    290         2   1/17/2023     West
18        18        C018       Laptop    810         2   1/18/2023     East
19        19        C019   Headphones      0         3   1/19/2023    South
20        20        C020      Monitor    450         0   1/20/2023     West

In [ ]:
df['product'] = df['product'].str.strip().str.lower() 

df['product'] = df['product'].replace({ 
    'lap-top': 'laptop', 
    'head phones': 'headphones', 
    'headphones': 'headphones' 
}) 
df

    order_id customer_id     product  price  quantity  order_date   region
0          1        C001      laptop    800         1    1/5/2023    North
1          2        C002       phone      0         2    1/6/2023     East
2          3        C003      tablet    250         0    1/7/2023    South
3          3        C003      tablet    250         0    1/7/2023    South
4          4        C004      laptop    850         1    7/1/2023     West
5          5        C005  headphones    100         3  2023.01.08    South
6          6        C006     monitor      0         2    1/9/2023     East
7          7        C007       phone    600         2     unknown    North
8          8        C008      laptop    750         1  2023-13-01     West
9          9        C009      tablet    300         0   1/11/2023     East
10        10        C010  headphones     95         1   1/12/2023     East
11        11        C011       phone    550         2   1/12/2023  Unknown
12        12        C012      laptop      0         2   1/13/2023     West
13        13        C013     monitor    400         1   1/14/2023     East
14        14        C014      laptop    800         1  14-01-2023    South
15        15        C015      tablet    280         2   1/15/2023    North
16        16        C016       phone    620         0   1/16/2023     East
17        17        C017      tablet    290         2   1/17/2023     West
18        18        C018      laptop    810         2   1/18/2023     East
19        19        C019  headphones      0         3   1/19/2023    South
20        20        C020     monitor    450         0   1/20/2023     West